* {
  margin: 0;
  padding: 0; }

a, p, span, h1, h2, h3, h4, h5, h6, li {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 11pt;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  color: black; }

a:hover {
  color: #6EDBAF; }

p {
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  margin: 25px 0 18px 0; }

h1 {
  margin-top: 40px;
  font-size: 14pt; }

li {
  margin-left: 15px;
  padding-left: 7px; }

nav a {
  display: block; }

aside {
  font-style: normal; }

@media screen and (min-width: 1030px) {
  header {
    position: fixed;
    width: 300px;
    margin-left: 50%;
    top: 15px;
    left: -500px; }

  main {
    position: absolute;
    width: 700px;
    margin-left: 50%;
    padding-bottom: 50px;
    top: 15px;
    left: -200px; } }
@media screen and (max-width: 1029px) {
  li {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0; }

  header, main {
    max-width: 700px;
    padding: 0 15px; }

  header footer, aside {
    display: none; } }
