* {
  cursor: default;
  margin: 0;
  padding: 0; }

a, p, span, h1, h2, h3, h4, h5, h6, li, code, pre {
  font-family: Arial, sans-serif;
  font-size: 11pt;
  line-height: 1.4em;
  color: #323232; }

a, a * {
  cursor: pointer; }

code, pre, pre * {
  font-family: Monaco, monospace;
  font-size: 10pt; }

code {
  margin: 0 5px; }

.gist-it-gist .gist-file .gist-data {
  padding: 15px !important; }

a:hover, a.active {
  color: #64E390; }

a.button {
  display: inline-block;
  padding: 15px;
  border-radius: 2px;
  background: #EEE;
  font-size: 8pt;
  text-decoration: none; }
  a.button:hover {
    background: #64E390;
    color: #323232; }

p {
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  margin: 25px 0 18px 0; }

h1 {
  margin-top: 40px;
  font-size: 14pt; }

li {
  margin-left: 15px;
  padding-left: 7px; }

hr {
  height: 1px;
  margin: 30px 0 22px 0;
  border: none;
  background: #EEE; }

header h1 {
  display: inline-block;
  width: 13px;
  height: 12px;
  margin-bottom: 4px !important;
  padding: 8px 9px 10px 9px;
  border-radius: 50%;
  background: #323232;
  font-size: 8pt;
  text-align: center;
  color: white; }

footer {
  opacity: 0.3; }

nav a {
  display: block; }

address * {
  font-style: normal; }

article img {
  box-sizing: border-box;
  width: 100%;
  border: solid 10px #EEE; }

main {
  padding-bottom: 50px; }

@media screen and (min-width: 1030px) {
  header {
    position: fixed;
    width: 250px;
    margin-left: 50%;
    top: 15px;
    left: -500px; }
    header h1 {
      margin-bottom: 35px; }

  main {
    position: absolute;
    width: 700px;
    margin-left: 50%;
    top: 15px;
    left: -200px; }

  main footer {
    display: none; } }
@media screen and (max-width: 1029px) {
  header h1, header nav {
    display: inline-block !important; }

  header h1 {
    margin-right: 15px; }

  header hr {
    display: none; }

  li, header nav > a {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0; }

  header, main {
    max-width: 700px;
    padding-left: 15px;
    padding-right: 15px; }

  header footer, aside {
    display: none; }

  header section, header address {
    margin-bottom: -15px; }
    header section a.button, header address a.button {
      margin-left: 10px; }
    header section h2, header section p, header address h2, header address p {
      display: inline-block; }
    header section h2:after, header address h2:after {
      content: ":"; } }
